<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>userBoy.png</string>
				<key>name</key>
				<string>农好帅</string>
				<key>phone</key>
				<string>13866665555</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>userBoy.png</string>
				<key>name</key>
				<string>农好帅</string>
				<key>phone</key>
				<string>13866665555</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>userBoy.png</string>
				<key>name</key>
				<string>农好帅</string>
				<key>phone</key>
				<string>13866665555</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>userBoy.png</string>
				<key>name</key>
				<string>农好帅</string>
				<key>phone</key>
				<string>13866665555</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>userGirl.png</string>
				<key>name</key>
				<string>农好帅</string>
				<key>phone</key>
				<string>13866665555</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>userGirl.png</string>
				<key>name</key>
				<string>农好帅</string>
				<key>phone</key>
				<string>13866665555</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>userGirl.png</string>
				<key>name</key>
				<string>农好帅</string>
				<key>phone</key>
				<string>13866665555</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>userGirl.png</string>
				<key>name</key>
				<string>农好帅</string>
				<key>phone</key>
				<string>13866665555</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>userGirl.png</string>
				<key>name</key>
				<string>农好帅</string>
				<key>phone</key>
				<string>13866665555</string>
			</dict>
		</array>
		<key>name</key>
		<string>领导</string>
		<key>number</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>userBoy.png</string>
				<key>name</key>
				<string>农好帅</string>
				<key>phone</key>
				<string>13866665555</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>userBoy.png</string>
				<key>name</key>
				<string>农好帅</string>
				<key>phone</key>
				<string>13866665555</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>userBoy.png</string>
				<key>name</key>
				<string>农好帅</string>
				<key>phone</key>
				<string>13866665555</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>userGirl.png</string>
				<key>name</key>
				<string>农好帅</string>
				<key>phone</key>
				<string>13866665555</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>userGirl.png</string>
				<key>name</key>
				<string>农好帅</string>
				<key>phone</key>
				<string>13866665555</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>userGirl.png</string>
				<key>name</key>
				<string>农好帅</string>
				<key>phone</key>
				<string>13866665555</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>userGirl.png</string>
				<key>name</key>
				<string>农好帅</string>
				<key>phone</key>
				<string>13866665555</string>
			</dict>
		</array>
		<key>name</key>
		<string>同事</string>
		<key>number</key>
		<integer>15</integer>
	</dict>
</array>
</plist>
